.calculator {
    width: 250px;
    margin: 50px auto;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: rgb(212, 212, 212);
  }
  input[type="text"] {
    width: 90%;
    margin-bottom: 10px;
    padding: 8px;
    font-size: 16px;
    border: none;
    background-color: rgb(183, 183, 183);
  }
  button {
    width: 55px;
    height: 48px;
    font-size: 18px;
    margin: 2px;
    cursor: pointer;
    background-color: rgb(212, 212, 212);
    border: none;
  }
  button.equal {
    width: 48%;
    background-color: #3474ff;
    color: white;
  }
  button.clear {
    color: red;
  }
  button.operator{
    color:blueviolet ;
  }